**/lib/*
**/bin/*
**/deb/*
**/debian/.debhelper
**/debian/debhelper-build-stamp
**/debian/macgonuts
**/debian/macgonuts.substvars
**/debian/files
*.Forgefile-*
*.o/
coverage.info
**/binds/py/*.so
**/binds/py/macgonuts.c
**/binds/py/build
